/* Global Styles  */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.navbar,
.footer {
  background-color: #007bff;
}
.navbar-brand,
.nav-link,
.footer p,
.footer a {
  color: #fff !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation styles  */
/* #head-section .navbar{
    background-color: red;
  } */

.navbar {
  padding: 0;
}

header .navbar .navbar-nav .nav-item .nav-link {
  padding: 1rem 1.5rem;
  margin: 0;
  height: 100%;
}

header .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #f8f9fa;
  color: #000 !important;
}

/* HomePage styles */
.hero {
  background: #f0f8ff;
  height: 100vh;
  /* margin: 5rem 0; */
}

.heroContent {
  padding: 14rem 0;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.featured-cars {
  padding: 4rem 0;
}

.featured-cars .card {
  transition: transform 0.2s ease-in-out;
}
.featured-cars .card:hover {
  transform: scale(1.03);
}
footer {
  /* padding: 2rem 0; */
  padding: 0.2rem 0;
}

/* About Page Styles */

.about-section {
  padding: 10rem 0;
}
.about-section h2 {
  color: #007bff;
  margin-bottom: 20px;
}

/* Contact page Styles */
.contact-form {
  padding: 6rem 0;
}
.contact-form h2 {
  color: #007bff;
  margin-bottom: 20px;
}
.map-container {
  margin-top: 40px;
}

/* Cars details */

.car-image {
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
}
.car-specs li {
  padding: 0.25rem 0;
}
/* This css rules added/updated by me */
.card img {
  height: 300px;
  object-fit: cover;
  /* border-radius: 8px; */
}

/* This css rules added/updated by me */

/* browse-cars styles */
.filters {
  background: #f8f9fa;
  padding: 2rem;
  border-radius: 5px;
}
.car-card {
  transition: transform 0.2s;
}
.car-card:hover {
  transform: scale(1.02);
}

.browseCars {
  padding: 4rem 0;
}

.sold {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #fff;
  background-color: red;
  font-weight: 900;
  border-radius: 10px 20px 10px 20px;
  padding: 5px 10px 5px 10px;
}

/* Book Appointment */
.booking {
  padding: 3rem 0;
}

.form-section {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 8px;
}

/* Cars details */
.car-detail {
  padding: 4rem 0;
}

.car-image-gallery img {
  border-radius: 8px;
  transition: 0.3s ease;
}

.car-image-gallery img:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 800px) {
  /* for tablet screen */

  .heroContent {
    padding: 10rem 0;
  }

  #carDetails {
    padding: 5rem 0;
  }

  .browseCars {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 599px) {
  /* for mobile screen */
  .hero-content {
    padding: 2rem 0;
  }

  .featured-cars {
    padding: 18rem 0;
  }

  #carDetails {
    padding: 3rem 0;
  }
}

/* Product Detail Tabs */
.nav-tabs-custom .nav-link {
  color: #000000 !important;
  background-color: #e9ecef !important;
  border: none !important;
  transition: all 0.3s;
  font-size: 18px !important;
  font-weight: 700 !important;
}

.nav-tabs-custom .nav-link:hover {
  background-color: #d6d8db !important;
  color: #000000 !important;
}

.nav-tabs-custom .nav-link.active {
  color: #ffffff !important;
  background-color: #007bff !important;
  border: none !important;
}
