 <!DOCTYPE html>
 <html>
<!-- FontAwesome -->
<link rel="stylesheet" href="../css/fontawesome/css/all.css">


 <!-- components/navbar.html -->
  <header class="fixed-top" id="head-section">
    
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm px-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">EgoCarz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="browse-cars.html">Cars</a></li>
            <li class="nav-item"><a class="nav-link" href="spareparts.html">SpareParts</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
</header>
  

</html>